{% extends "base.html" %}

{% block content %}
<h1>Добавить студента</h1>

<form method="post">
    <p>Имя: <input type="text" name="full_name" required></p>
    <p>Курс: <input type="number" name="course" required></p>
    <p>Телефон: <input type="text" name="phone" required></p>
    <p>Дисциплина:
        <select name="discipline_id" required>
            {% for discipline in disciplines %}
                <option value="{{ discipline.id }}">{{ discipline.name }}</option>
            {% endfor %}
        </select>
    </p>
    <p><input type="submit" value="Добавить"></p>
</form>
{% endblock %}
